/* API Section */
h1 {
  font-family: 'Rubik', sans-serif;
  text-align: center;
}

h2 {
  font-family: 'Rubik', sans-serif;
  text-align: center;
}

p {
  text-align: center;
  font-size: 15px;
  max-width: 35ch;
  margin: 15px auto;
  font-family: 'Poppins', sans-serif;
}

.random-ghibli {
  display: flex;
  justify-content: center;
  flex-direction: row;
}

article {
  border: 2.5px solid #1a1c1d;
  margin: 15px;
  border-radius: 25px;
}

img {
  margin: auto 30px auto 30px;
  border-radius: 25px;
  display: block;
  max-width: 300px;
  max-height: 500px;
  width: auto;
  height: auto;
}

.wrapper {
  display: flex;
  justify-content: center;
}

.button-wrapper {
  display: flex;
  justify-content: center;
}

button {
  color: whitesmoke;
  background-color: #267dc2;
  border: 3px solid whitesmoke;
  border-radius: 20px;
  padding: 10px;
  font-size: 30px;
  font-family: 'Rubik', sans-serif;
  transition-duration: 500ms;
  cursor: pointer;
}

button:hover {
  background-color: #6bb0e7;
}